:root {
  --trovato-space-2xs: 0.25rem;
  --trovato-space-xs: 0.5rem;
  --trovato-space-sm: 0.75rem;
  --trovato-space-md: 1rem;
  --trovato-space-lg: 1.5rem;
  --trovato-space-xl: 2rem;
  --trovato-space-2xl: 3rem;
  --trovato-space-3xl: 4rem;

  --trovato-radius-sm: 0.75rem;
  --trovato-radius-md: 1rem;
  --trovato-radius-lg: 1.5rem;
  --trovato-radius-pill: 999px;
}